body {
	background:#E0FFFF;
}

header {
	text-align: center;
	border: 2px solid black;
}

section.column-1 {
	float: left;
	width: 50%;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

section.column-2 {
	float: left;
	width: 45%;
	border-top: 1px solid black;
	padding-left: 20px;
}

footer {
	clear: both;
	text-align: center;
	border: 2px solid black;
}

#octasize {
	border: 1px solid black;
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 320px ; 
	width: 520px ;
}

p#movecredit {
	margin-left: 650px;
}