img#octocenter {
	display: block;
    margin: auto;
	margin-top: 100px;
}

img#cowboyhat {
	margin: auto;
	display: block;
	position: relative; 
	bottom: 370px; 
	left: 10px; 
	z-index: 1
}

img#heartglasses {
	margin: auto;
	display: block;
	position: relative; 
	bottom: 355px; 
	left: 5px; 
	z-index: 2
}