section#contact-info {
	font-size: .8em;

}

section.job {
	background-color: #e9e5dc;
	border-radius: 15px;
	padding: 1px 1px 1px 5px;
	margin-top: 20px;
}

ul.job-description {
	font-size: .8em;
	font-family: white;
}

/*1) Cascadia means that styles can fall from one style sheet to another, 
enabling multiple styling sheets to be used on one HTML document
The browser decides which to use b whichever declaration has the most weight.
Documents loaded into browsers and declarations are sorted/given wieght.
2)Psuedoselector's are a type of class (pseudo-class) used to define a special
state of an element. ex) style visited and unvisted links differently.
*/

p:hover, ul:hover {
	background-color: #FFFF00;
}

section > h3:hover {
	background-color: red;
}